@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .btn-semibold {
    @apply text-[0.875rem] font-semibold leading-[1.125rem] cursor-pointer;
  }
  .btn-bold {
    @apply text-[0.875rem] font-semibold leading-[1.125rem] cursor-pointer;
  }
  .h3-normal {
    @apply text-base font-normal leading-6;
  }
  .label-text {
    @apply leading-4 text-xs font-semibold;
  }

  /* .h1-bold {
    @apply text-[20px] xxs:text-[24px] xs:text-[36px] sm:text-[40px] md:text-[55px] lg:text-[70px] xl:text-[74px] font-bold leading-tight tracking-[4px];
  }
  .h2-semibold {
    @apply text-[15px] xxs:text-[28px] xs:text-[30px] sm:text-[38px] md:text-[50px] lg:text-[64px] font-semibold leading-tight;
  }
  .h3-bold {
    @apply text-[48px] xxs:text-[25px] xs:text-[30px] sm:text-[35px] md:text-[40px] lg:text-[48px] font-bold leading-[1.2em];
  }
  .h4-semibold {
    @apply text-[20px] xs:text-[24px] sm:text-[28px] md:text-[34px] font-bold leading-tight;
  }
  .h5-semibold {
    @apply text-[30px] xxs:text-[17px] sx:text-[22px] xs:text-[28px] sm:text-[32px]  font-semibold leading-tight;
  }
  .h6-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }
  .body-normal {
    @apply text-[12px] xxs:text-[13px] xs:text-[14px] sm:text-[18px] md:text-[22px] lg:text-[22px] font-normal leading-[20px] md:leading-[28.6px];
  }
  .body-medium {
    @apply text-[10px] xxs:text-[11px] xs:text-[14px] sm:text-[18px] md:text-[22px] lg:text-[22px] font-medium leading-[20px] md:leading-[28.6px];
  }
  .btn-medium {
    @apply text-[12px] xxs:text-[10px] xs:text-[9.96px] sm:text-[16px] md:text-[18px] lg:text-[22px] font-medium xxs:leading-[10px] xs:leading-[20px] md:leading-[28.6px];
  }
  .body-semibold {
    @apply text-[22px] font-semibold leading-[28.6px];
  }

  .link-semibold {
    @apply text-[20px] xxs:text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] font-semibold leading-[28.6px] underline text-primary-500;
  }
  .link-medium {
    @apply xxs:text-[16px] text-[20px] font-medium leading-[26px];
  }
  .base-medium {
    @apply text-[13px] xs:text-[14px] sm:text-[15px] md:text-[18px] font-medium leading-normal;
  }
  .base-semibold {
    @apply text-[18px] font-semibold leading-normal;
  }
  .base-bold {
    @apply text-[18px] font-bold leading-normal;
  }
  .padding {
    @apply px-[24px] py-[20px] sm:px-[64px] sm:py-[80px];
  }
  .backdrop-blur {
    backdrop-filter: blur(5px);
  }
  .backdrop-blur-four {
    backdrop-filter: blur(4px);
  }
  .mb-zero {
    padding-bottom: 0 !important;
  }
  .mt-zero {
    padding-top: 0 !important;
  } */
}
/* .transition-max-width {
  transition: max-width 0.3s ease;
} */

.transition-color {
  transition: color 250ms cubic-bezier(0.2, 0, 0, 1);
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 2px;
}
